/.idea/.gitignore
/.idea/BRC_compute.iml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/BRC_controller/README.Docker.md
/.idea/vcs.xml
/.idea
/BRC_controller/src/.index.ts.swp

/BRC_terraform/.terraform
/BRC_terraform/terraform.tfstate
/BRC_terraform/terraform.tfstate.backup
/BRC_terraform/.terraform.lock.hcl
/BRC_terraform/controller-secrets.yaml
/BRC_terraform/.env.controller.prod
/BRC_terraform/.env.push-worker.prod
/BRC_terraform/push-worker-secrets.yaml
/BRC/controller-secrets.yaml

BRC_deploy/CRU/*.tfvars
BRC_deploy/CRU/vars/*
BRC_deploy/CRU/keys/*
/BRC_deploy/CRU/.terraform.lock.hcl
/BRC_deploy/CRU/.terraform/environment
/BRC_deploy/CRU/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.23.0/linux_amd64/LICENSE.txt
/BRC_deploy/CRU/.terraform/modules/modules.json
/BRC_deploy/CRU/providers.tf
/BRC_terraform/state-backup.json
/BRC_deploy/CRU/.terraform/terraform.tfstate
/BRC_worker/terraform.tfstate
/BRC_deploy/CRU/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.23.0/linux_amd64/terraform-provider-azurerm_v4.23.0_x5
