/.idea/.gitignore
/.idea/BRC_compute.iml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/BRC_controller/README.Docker.md
/.idea/vcs.xml
/.idea
/BRC_controller/src/.index.ts.swp

/BRC_terraform/.terraform
/BRC_terraform/terraform.tfstate
/BRC_terraform/terraform.tfstate.backup
/BRC_terraform/.terraform.lock.hcl
/BRC_terraform/controller-secrets.yaml
/BRC_terraform/.env.controller.prod
/BRC_terraform/.env.push-worker.prod
/BRC_terraform/push-worker-secrets.yaml
/BRC/controller-secrets.yaml